# Ignore system files
.DS_Store
Thumbs.db

# Ignore NetBeans, Eclipse && phpstorm
nbproject
.project
.settings
.idea

# Ignore sass-cache files.
*.sass-cache*

# Node stuff
.grunt
npm-debug.log
node_modules