#gamecontainer{

}
.ActorInfo{
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 150px;
  background: white;
}

#mapCanvas{
  border: 1px solid white;
}
.ActorsWrapper{
  canvas{
    background: red;
  }
}
