#gamecontainer{
  position: fixed;
  width: 100%;
  height: 100%;
}
.ActorInfo{
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 150px;
  background: white;
}

#mapCanvas{
  border: 1px solid white;
  position:absolute;
  left:0;
  top:0;
}
.ActorsWrapper{
  width: 100%;
  height: 100%;
  canvas{
    position: absolute;
  }
  &.no-panning{
    canvas{
      transition: all linear 0.4s;
    }
  }
}
canvas{
  transition: all linear 0.2s;
}