/*
 * Design
 * 
 * Include all your design elements in this file.
 */

@import 'layout';
@import 'menu';
@import 'canvas';

html{
  background: black;
}
canvas {
  position:absolute;
  left:0;
  top:0;
}
body {
  background:black;
  position:fixed;}