/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:6d28787805d2a38afce0e775334cfa70:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(panama.png);}

.grass {width:32px; height:32px; background-position: -0px -0px}
.water {width:32px; height:32px; background-position: -0px -32px}
